body {
	width: 100%;
	background-color: rgb(154, 170, 203);
	margin: 0;
}

header, footer {
	width: 75%;
	margin: 20px auto;
	padding: 20px;
	background-color: #1C315E;
	border: 2px solid black;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	gap: 25px;
	font-size: 19px;
	color: white;
}
header a {
	text-decoration: none;
	color: white;
}
header a:hover {
	background-color: white;
	border-radius: 4px;
	padding: 2px;
	color: black;
}

.main {
    width: 72.5%;
    margin: 40px auto;
    background-color: #F7F5EB;
	border: 2px solid black;
	border-radius: 8px;
    padding: 40px;
}

.heads {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.401);
	color: white;
	text-align: center;
	margin-top: 0;
	font-size: 30px;
}

hr {
	width: 40%;
}
/* https://colorhunt.co/palette/1c315e227c7088a47ce6e2c3 */
/* https://colorhunt.co/palette/eac7c7a0c3d2f7f5ebeae0da */
