.pngs img {
    width: 40px;
    height: 40px;
}

.hero img {
    width: 375px;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
}

.hero {
    text-align: center;
    font-size: 23px;
}

.main p {
    text-align: justify;
    font-size: 20px;
}

.pngs {
    display: flex;
    justify-content: center;
    gap: 20px;
}