img {
  max-height: 575px;
  max-width: 1250px;
  min-height: 300px;
  min-width: 300px;

}

.pics img {
  width: 300px;
  height: 300px;
  margin: 0 6px;
  transition: 0.3s ease;
}
.pics img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.pics {
  text-align: center;
}

.main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 30px;
}
